img {
    width: 100%;
    height: 150px;
}

#barraNavegacion {
    font-family: 'Courgette', cursive;
}

#cabecera {
    background-color: #363635;
}

.img-fluid {
    height: 90vh;
}

.carousel-item {
    height: 90vh;
}