body {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    align-content: top;
    background-image: url(/fondo/fondo.png)
}

nav {}

ul {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

li {
    display: block;
    padding: 20px;
    margin-bottom: 2%;
}

li :hover {
    background: gold;
}

footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

h1 {
    padding: 80px;
    color: white;
    font-size: 40px;
    text-align: center;
}

section {
    text-align: center;
}

article {}