body {
    padding: 25px;
}

header {
    text-align: center;
    background-color: azure;
}

header h1 {
    color: green;
    background-color: aqua;
}

header nav {
    background-color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
    width: 100%;
    float: left;
    list-style: circle;
    padding: 0px;
    margin: 0px;
    background-color: yellow;
    align-items: center;
}

ol li {
    display: block;
    float: left;
    padding: 10px;
}

section {
    text-align: center;
}

th {
    background-color: blue;
}