#titulo {
    font-family: 'Ruge Boogie', cursive;
    text-align: center;
}

#cabecera {
    width: 100%;
    height: 100vh;
}

#contenido {
    width: 100%;
    height: 1000px;
    background-image: url("/fondo/fondo.jpg");
    color: white;
}

#aside {
    background-image: url("/fondo/guitarra.jpg");
    padding: 10px 10px 10px 10spx;
}

body {
    background-image: url("/fondo/guitarra.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#pie {
    background: black;
}

#navbar {
    background-color: #8f867c;
}

.nav-link {
    color: white;
}